<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.plugins.Geofencing"
    version="2.0">

    <name>Geofencing</name>
        <author>radshag</author>
        
        <description>
                This plugin allows your application to receive location
        </description>

        <license>MIT</license>
        
        <js-module src="src/iOS/DGGeofencing/DGGeofencing.js" name="Geofencing">
           <clobbers target="DGGeofencing" />
        </js-module>

        <engines>
                <engine name="cordova" version=">=3.0.0" />
        </engines>        
        
       

        <!-- ios -->
        <platform name="ios">
                
                <config-file target="config.xml" parent="/*">
                        <feature name="Geofencing">
                                <param name="ios-package" value="Geofencing"/>
                        </feature>
                </config-file>

                <source-file src="src/iOS/DGGeofencing/DGGeofencing.m" />
                <header-file src="src/iOS/DGGeofencing/DGGeofencing.h" />
               

        </platform>
</plugin>
